# stubs directory 
dir_to_ignore/

# output data
output_data/

# graohic output
image_frames/

# generic storage directory
scratch/


# temp files 
*.m~
*.mat

# graphic files
*.jpeg
*.jpg
*.png
*.tiff
*.pdf
*.svg
*.fig